<div id="album" *ngIf="album">
  <h1>
    {{album.name}}
  </h1>
  <header class="album-header">
    <div class="row">
      <div class="col-md-4">
        <div *ngIf="album.images.length > 0">
          <img class="album-thumb" src="{{album.images[1].url}}">
        </div>
        <h4 *ngIf="album.artists.length > 0">
          <span *ngFor="let artist of album.artists">{{artist.name}}</span>
        </h4>
        <h5>Release Date: {{album.release_date}}</h5>
        <a href="{{album.external_urls.spotify}}" target="_blank">Listen to that Music Bro'..</a>
      </div>
      <div class="col-md-8">

        <table class="table table-striped table-hover ">
          <tbody>
            <tr *ngFor="let track of album.tracks.items">
              <td>{{track.track_number}}</td>
              <td>{{track.name}}</td>
              <td>{{track.duration_ms}}</td>
              <td>
                <audio controls>
                  <source src="{{track.preview_url}}" type="audio/mpeg"> Your browser does not support the audio element.
                </audio>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </header>
</div>
