<div *ngIf="artist">
  <header class="artist-header">
    <div *ngIf="artist.images.length > 0">
      <img class="artist-img img-thumbnail" src="{{artist.images[0].url}}">
    </div>
    <h1>{{artist.name}}</h1>
    <p *ngIf="artist.genres.length > 0">Genres: <span *ngFor="let genre of artist.genres">{{genre}}</span></p>
    <br>
  </header>
</div>


<div *ngIf="albums">
  <div class="row _row">

    <div *ngFor="let album of albums.items" class="item">
      <div class="well">
        <img *ngIf="album.images.length !== 0" width="150" src="{{album.images[0].url}}" class="img-thumbnail">
        <img *ngIf="album.images.length === 0" width="150" src="http://placehold.it/350/060606/efefef?text=no+IMG" class="img-thumbnail">
        <hr>
        <h4><a (click)="selectAlbum(album.id)">{{album.name}}</a></h4>
      </div>
    </div>

  </div>
</div>
